@font-face  /* police du site*/
{
    font-family: 'Shrikhand';
    src: url('Polices/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot');
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Polices/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Polices/Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	display: flex;
	flex-direction: column;
	width: 375px;
	margin: auto;
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
	height: 60px;
	text-align: center;
	background-color: #F9FBF7;
}
header h1{
	margin: 11px;
	font-family: 'Shrikhand', 'robotoregular', Arial, Helvetica, sans-serif;
}	

/* SECTION LOCALISATION */
#localisation{
	height: 50px;
	background-color: #E0E0E0;
	padding: 0 0 0 95px;
}
#localisation .fas{
	padding: 0 10px 0 0;
}

/* SECTION DESCRIPTION */
#description{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 290px;
	background-color: #EEEEEE;
	text-align: center;
    padding: 0 30px;
    font-size: 1.1em;
}
.bouton{
	margin: 0;
	padding-bottom: 40px;
}
.bouton p{
	padding-top: 10px;
    border-radius: 50px;
    background-color: #ECEEEA;
    height: 40px;
    width: 65%;
	margin-left: 60px;
	background-image: linear-gradient(to bottom, #ca4bcc, #d1add2);
}

/* SECTION SELECTION */

#selection{
	height: 440px;
	background-color: #F9FBF7;
}
#selection h2{
	margin: 0;
    padding: 50px 0px 0 20px;
}
.choix, .creation{
	display: flex;
    align-items: center;
	background-color: #ECEEEA;
    height: 75px;
    margin: 25px 0 0 25px;
    width: 88%;
    border-radius: 20px;
}
.resto{
	display: flex;
    align-items: center;
    height: 75px;
    margin: 20px 0 0 25px;
    width: 88%;
    background-color: #F6ECFB;
    border-radius: 20px;
}
.choix p, .creation p, .resto p{
	font-weight: bold;
}
.fas{
	padding: 0 25px 0 40px;
	color: #848384;
}
.resto .fas{
	color: #9356DC;
}
.number{
	position: relative;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #9356DC;
    left: -9px;
    padding: 3px 8px 4px 8px;
}

/* SECTION RESTAURANTS */
#restaurants{	
	height: 1200px;
	background-color: #EEEEEE;
}
#restaurants h2{
	margin: 0;
    padding: 40px 0 0 20px;
}
.photo{
	padding: 20px 0 0 20px;
}
.photoenchanted{
	padding: 0 0 0 20px;
}
img{
	border-radius: 15px 15px 0 0;
}
.photo a, .photoenchanted a{
	background-color: #f9fbf7;
}
#restaurants p{
	padding: 8px 0 0 15px;
    height: 50px;
    background-color: #F9FBF7;
    margin: 0 25px 0 0;
    border-radius: 0 0 15px 15px;
}
.gras{
	font-weight: bold;
}
.new{
	font-weight: bold;
    color: green;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: #99E2D0;
    position: relative;
    padding: 3px 20px 3px 20px;
    top: 36px;
    left: 67%;
}
.far{
    position: relative;
    bottom: 16px;
    left: 60%;
    font-size: 20px;
}
.far:hover{
    font-weight: bold;
    color: #9356DC;
}

/* SECTION FOOTER */

footer{
    height: 200px;
    background-color: #414141;
    padding-left: 20px;
    color: #FFFFFF;
}
footer h3{
    font-family: 'Shrikhand', 'robotoregular', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
footer a{
    text-decoration: none;
    color: white;
}
footer .fas{
    padding: 0 10px 0 0;
    color: white;
}
.suggest{
    padding-left: 7px;
}