/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face  /* police du site*/
{
    font-family: 'Shrikhand';
    src: url('Polices/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot');
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Polices/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Polices/Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header h1{
    font-weight: normal;
}
.description{
	display: -webkit-box;	
	-webkit-box-orient: vertical;   	       		 
}
.description h2, .discover, .bouton{
    -webkit-margin-before: 30px;
}
.bouton{
    display: -webkit-box;
    -webkit-box-pack: center;
}
.bouton p{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;   
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cd7ed0),to(#ca4bcc));
}
.bouton p:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8cdf1),to(#ca4bcc));
}
.menu{
    -webkit-logical-height: 80px;
    -webkit-padding-before: 5px
}
.menu p {
    text-align: center;
}
.carte{
    display: -webkit-box;  
    -webkit-box-orient: vertical;    
}
.carte p{
    -webkit-margin-end: 5px;
}
.new{
	-webkit-text-stroke-width: 0.1px;
}

@media all and (min-width: 768px)
{
body{
    width: 90%;
    margin: auto;
}
.selection{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        height: 154px;
}

.menu{
    width: 24%;
}
.restaurants{
    height: 100%;
}
.restaurants h2{
    text-align: center;
    padding: 40px 0 0 0;
}
.restaurants p{
    position: relative;
    bottom: 5px;
    width: calc( 100% - 15px );

}
}