


.spin:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-left-color: #333333;
    border: 16PX solid #000000;
    border-bottom-color: #555555;
    border-right-color: transparent;
    animation: spin 2s infinite linear;    
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}


