#loader-wrapper{  /* position du spinner par rapport à la page */
    position: fixed;
    top: 0;
    width: 37%;
    height: 100%;
    z-index: 1000;
}

.loader{  /* creation du spinner en lui-même * partie bleu */
    display: block;
    position: relative;
    left: 70%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    /*-webkit-animation: spin 2s linear infinite;*/
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

.loader:before{ /* creation du spinner en lui-même * partie rouge */
    content: ""; /* insertion de contenu avec before et after - content obligatoire  */
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
   /* -webkit-animation: spin 3s linear infinite;*/
    -ms-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after { /* creation du spinner en lui-même * partie jaune */
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    /*-webkit-animation: spin 1.5s linear infinite;*/
    -ms-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-moz-keyframes spin {    /* Animation du spinner pour tout type de web */
    0% { /*-webkit-transform: rotate(0deg); */
         -moz-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    100% { /*-webkit-transform: rotate(360deg); */
           -moz-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {    /* Animation du spinner pour tout type de web */
    0% { /*-webkit-transform: rotate(0deg); */
         -moz-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    100% {/* -webkit-transform: rotate(360deg); */
           -moz-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
@keyframes spin {
    0% { /*-webkit-transform: rotate(0deg); */
         -moz-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    100% { /*-webkit-transform: rotate(360deg); */
           -moz-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
.content{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    /*-webkit-animation: fadein 3s; /* Safari et Chrome */*/
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    0% {
        opacity:0;
    }  
    65% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity:0;
    }  
    65% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity:0;
    }  
    65% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}
#loader-wrapper{
    animation: fadeout 3s;
    -ms-animation: fadeout 3s; /* Firefox */
    /*-webkit-animation: fadeout 3s; /* Safari et Chrome */*/
    -o-animation: fadeout 3s; /* Opera */ 
    /*-webkit-transform: translateY(-100%);*/
    -ms-transform: translateY(-100%);
    z-index: 0;   
    /* -webkit-transition: all  0s 3s ease;*/
     -moz-transition: all  0s 3s ease;
              
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}







