.spinner{
    /*création du loader*/
    border-left-color: #333333;
    border: 16PX solid #000000;
    border-bottom-color: #555555;
    border-right-color: transparent;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;

    /*placement loader milieu de page*/
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;  
}


/* animation loader*/

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin{
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% { 
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin{
    0% {
        -moz-transform: rotate(0deg);
    }
    100% { 
        -moz-transform: rotate(360deg);
    }
}
